th.shutterstock_login_pass, th.shutterstock_login_failed {
    color:#CF1D1D;
    font-size:12px;
    font-weight:bold;
    padding-left:235px;
}

th.shutterstock_login_pass {
    color:#156F14;
}

.shutterstcok_settings_page .meta-box .postbox .handlediv {
    background: url("../../../../wp-admin/images/menu-bits.gif?ver=20100610") no-repeat scroll left -111px transparent;
}