.shutterstock_author {
	clear:both;
	margin:0px 0px 0px 0px;
}

.shutterstock_main_container {
	
    margin:20px auto;    
    text-align:center;
    clear:both;
}

.shutterstock_sub_container {
	margin:0 auto;
	text-align: center;
}

.shutterstock_pages_container {
    text-align: center;
    margin: 20px 0px 0px 0px;
    clear:both;
    line-height:2em;
}

.shutterstock_pages_active {
   padding: 2px 6px;
   margin:0px 3px 0px 0px;
   border-style: solid;
   border-width: 2px;
   color:#fff;
}

.shutterstock_pages_dots {
   padding: 2px 6px;
   margin:0px 3px 0px 0px;
   letter-spacing: 3px;
}

.shutterstock_pages_container a {
   padding: 2px 4px;
   border-style: solid;
   border-width: 2px;
}

.shutterstock_img_container {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    margin:7px;
    padding:10px;
    text-align:center;
	display: inline-block;
    /* Modify at 15.03 */
  	/* float:left; */
}

.shutterstock_searchform {
	margin:10px 0px;
	padding:5px 0px;
	text-align:center;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.shutterstock_img_details {
	text-align:center;
}

.shutterstock_description {
	clear: both;
	display: inline-table;
	height: 36px;
	float: none;
}

.shutterstock_select {
	
	display: block;
	height: 36px;
	float: right;
        margin-right: 10px;
}


.shutterstock_img_border {
    width:auto;
    padding:5px 0px 7px 0px;
    margin: 0 auto;
}


.shutterstock_caption {
    /*height:auto !important;
    margin:0 auto -22px;
    min-height:85px;/**/
    height:25px;
    margin:0 auto 5px;
    min-height:25px;
    overflow:hidden;
    width:100%;
}
 
.shutterstock_buttons {
    height: 22px;
}

.shutterstock_searchform #si {
	font-size:16px;
	height:24px;
	padding:0px 0px 0px 5px;
}

#shutterstock_image-sort {
 float:right;
    height:26px;
    margin:0 0 25px;
    padding:0;
    text-align:right;
    width:400px;
}

#shutterstock_preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:block;
	color:#fff;
        text-shadow:0 0 0;
	z-index: 199;
}

#ajax_image_details_insert{
    clear:both;
}

#ajax_image_details_insert .shutterstock_detail_table th{
    font-size:18px;
    font-weight:bold;
    border-bottom-width: 2px;
	border-bottom-style: solid;
	padding:30px 0px 0px 0px;
}

#ajax_image_details_insert .shutterstock_detail_table{
    width:100%;
    padding:0px;
}

#ajax_image_details_insert .shutterstock_detail_table td{
    padding:5px;
    border-bottom-width: 1px;
	border-bottom-style: solid;
}

.shutterstock_keywords{
    text-align:center;
    padding:10px;
    line-height:17px;
    letter-spacing:1px;
    margin:0px 0px 20px 0px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
	border-style: solid;
	border-width: 3px;
}

.shutterstock_detail-image{
	margin:10px 0px 0px 0px;
    text-align:center;
}

.shutterstock_buy-now {
	margin:20px 0px 10px 0px;
	text-align:center;
}

.shutterstock-awesome, .shutterstock-awesome:visited {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    background: url("../img/alert-overlay.png") repeat-x scroll 0 0 #111;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    color: #FFF !important;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
input.shutterstock-awesome {
	border-style:none;
}
 
.shutterstock-awesome:hover {
    background-color: #222;
    color: #FFFFFF;
}
.shutterstock-awesome:active {
    top: 1px;
}
.small.shutterstock-awesome, .small.shutterstock-awesome:visited {
    font-size: 11px;
}
.shutterstock-awesome, .shutterstock-awesome:visited, .medium.shutterstock-awesome, .medium.shutterstock-awesome:visited {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.large.shutterstock-awesome, .large.shutterstock-awesome:visited {
    font-size: 14px;
    padding: 8px 14px 9px;
}

.xlarge.shutterstock-awesome, .large.shutterstock-awesome:visited {
    font-size: 20px;
    padding: 9px 24px 10px;
}

.col555.shutterstock-awesome, .col555.shutterstock-awesome:visited {
    background-color: #111;
}
.col555.shutterstock-awesome:hover {
    background-color: #000;
}

.col609030.shutterstock-awesome, .col609030.shutterstock-awesome:visited {
    background-color: #8CC456;
}
.col609030.shutterstock-awesome:hover {
    background-color: #609030;
}

.col00650f.shutterstock-awesome, .col00650f.shutterstock-awesome:visited {
    background-color: #00a620;
}
.col00650f.shutterstock-awesome:hover {
    background-color: #00650f;
}

.col007D9A.shutterstock-awesome, .col007D9A.shutterstock-awesome:visited {
    background-color: #2DAEBF;
}
.col007D9A.shutterstock-awesome:hover {
    background-color: #007D9A;
}

.col184e89.shutterstock-awesome, .col184e89.shutterstock-awesome:visited {
    background-color: #3365c9;
}
.col184e89.shutterstock-awesome:hover {
    background-color: #184e89;
}

.col872300.shutterstock-awesome, .col872300.shutterstock-awesome:visited {
    background-color: #E33100;
}
.col872300.shutterstock-awesome:hover {
    background-color: #872300;
}

.col630030.shutterstock-awesome, .col630030.shutterstock-awesome:visited {
    background-color: #A9014B;
}
.col630030.shutterstock-awesome:hover {
    background-color: #630030;
}

.colD45500.shutterstock-awesome, .colD45500.shutterstock-awesome:visited {
    background-color: #FF5C00;
}
.colD45500.shutterstock-awesome:hover {
    background-color: #D45500;
}

.cole8871f.shutterstock-awesome, .cole8871f.shutterstock-awesome:visited {
    background-color:  #e29f23;
}
.cole8871f.shutterstock-awesome:hover {
    background-color:#e8871f;
}

/**/

.col609030.shutterstock_img_container, .col609030.shutterstock_searchform, .col609030.shutterstock_pages_container a, .col609030.shutterstock_keywords, #ajax_image_details_insert .col609030.shutterstock_detail_table td, #ajax_image_details_insert .col609030.shutterstock_detail_table th {
    border-color: #8CC456;
}

.col609030.shutterstock_pages_active {
    border-color: #8CC456;
    background-color: #8CC456;
}

.col00650f.shutterstock_img_container, .col00650f.shutterstock_searchform, .col00650f.shutterstock_pages_container a, .col00650f.shutterstock_keywords, #ajax_image_details_insert .col00650f.shutterstock_detail_table td, #ajax_image_details_insert .col00650f.shutterstock_detail_table th {
    border-color: #00a620;
}

.col00650f.shutterstock_pages_active {
    border-color: #00a620;
    background-color: #00a620;
}

.col007D9A.shutterstock_img_container, .col007D9A.shutterstock_searchform, .col007D9A.shutterstock_pages_container a, .col007D9A.shutterstock_keywords, #ajax_image_details_insert .col007D9A.shutterstock_detail_table td, #ajax_image_details_insert .col007D9A.shutterstock_detail_table th {
    border-color: #2DAEBF;
}

.col007D9A.shutterstock_pages_active {
    border-color: #2DAEBF;
    background-color: #2DAEBF;
}

.col184e89.shutterstock_img_container, .col184e89.shutterstock_searchform, .col184e89.shutterstock_pages_container a, .col184e89.shutterstock_keywords, #ajax_image_details_insert .col184e89.shutterstock_detail_table td, #ajax_image_details_insert .col184e89.shutterstock_detail_table th {
    border-color: #3365c9;
}

.col184e89.shutterstock_pages_active {
    border-color: #3365c9;
    background-color: #3365c9;
}

.col872300.shutterstock_img_container, .col872300.shutterstock_searchform, .col872300.shutterstock_pages_container a, .col872300.shutterstock_keywords, #ajax_image_details_insert .col872300.shutterstock_detail_table td, #ajax_image_details_insert .col872300.shutterstock_detail_table th {
    border-color: #E33100;
}

.col872300.shutterstock_pages_active {
    border-color: #E33100;
    background-color: #E33100;

}
.col630030.shutterstock_img_container, .col630030.shutterstock_searchform, .col630030.shutterstock_pages_container a, .col630030.shutterstock_keywords, #ajax_image_details_insert .col630030.shutterstock_detail_table td, #ajax_image_details_insert .col630030.shutterstock_detail_table th {
    border-color: #A9014B;
}

.col630030.shutterstock_pages_active {
    border-color: #A9014B;
    background-color: #A9014B;

}

.colD45500.shutterstock_img_container, .colD45500.shutterstock_searchform, .colD45500.shutterstock_pages_container a, .colD45500.shutterstock_keywords, #ajax_image_details_insert .colD45500.shutterstock_detail_table td, #ajax_image_details_insert .colD45500.shutterstock_detail_table th {
    border-color: #FF5C00;
}

.colD45500.shutterstock_pages_active {
    border-color: #FF5C00;
    background-color: #FF5C00;

}


.cole8871f.shutterstock_img_container, .cole8871f.shutterstock_searchform, .cole8871f.shutterstock_pages_container a, .cole8871f.shutterstock_keywords, #ajax_image_details_insert .cole8871f.shutterstock_detail_table td, #ajax_image_details_insert .cole8871f.shutterstock_detail_table th {
    border-color: #e29f23;
}

.cole8871f.shutterstock_pages_active {
    border-color: #e29f23;
    background-color: #e29f23;

}


.col555.shutterstock_img_container, .col555.shutterstock_searchform, .col555.shutterstock_pages_container a, .col555.shutterstock_keywords, #ajax_image_details_insert .col555.shutterstock_detail_table td, #ajax_image_details_insert .col555.shutterstock_detail_table th {
    border-color: #555;
}

.col555.shutterstock_pages_active {
    border-color: #555;
    background-color: #555;
}
